$heading-color: #28283d;
$paragraph-color: #87879d;
$footer-color: white;
$button-color-blue: #4d96a9;
$footer-color-overlay: hsla(192, 37%, 48%, 90%);
$button-color-blue-hover: #8fe3f9;
$button-color-blue-hover-one: #71c0d4;
$button-color-blue-hover-two: #b18bdd;
$button-color-violet: #855fb1;
