$heading-color: #28283d;
$paragraph-color: #87879d;
$footer-color: white;
$button-color-blue: #4d96a9;
$footer-color-overlay: hsla(192, 37%, 48%, 50%);
$button-color-blue-hover: #8fe3f9;
$button-color-violet: #855fb1;

@mixin button-1($theme: $button-color-blue) {
  background-color: $theme;
  border-radius: 29px;
  width: 193px;
  height: 58px;
  font-family: "Red Hat Display";
  color: $footer-color;
  font-weight: 900;
  border-style: none;
}

@mixin button-2($theme: $button-color-violet) {
  background-color: $theme;
  border-radius: 29px;
  width: 139px;
  height: 58px;
  font-family: "Red Hat Display";
  color: $footer-color;
  font-weight: 900;
  border-style: none;
}
@mixin paragraph($font-color: $paragraph-color) {
  font-weight: 500px;
  font-size: 18px;
  line-height: 26px;
  color: $font-color;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Red Hat Display";
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-image: url("assets/desktop/image-hero-left.png"),
    url("assets/desktop/image-hero-right.png");
  background-repeat: no-repeat;
  background-position: left, right;
  #logo {
    margin-top: 80px;
    width: 119px;
    height: 28px;
  }

  .hero {
    display: flex;
    flex-flow: row wrap;
    width: 540px;
    height: 500px;
    align-content: center;
    justify-content: center;
    height: 304px;
    text-align: center;
    margin-top: 108px;
    h1 {
      font-size: 64px;
      font-weight: 900;
      line-height: 64px;
    }
    p {
      @include paragraph();
      margin-top: 34px;
    }
  }
  .download-1 {
    @include button-1();
    margin-right: 16px;

    margin-top: 32px;
    .version {
      color: $button-color-blue-hover;
    }
  }
  .what {
    @include button-2();
    margin-top: 32px;
  }
}

.flex-container {
  display: flex;
  width: 1110px;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  margin-top: 314px;
  img {
    width: 255px;
    height: 242px;
    border-radius: 8px;
  }
}

.desc-container {
  width: 540px;
  height: 240px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  .built {
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d96a9;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-top: 16px;
  }
  .description {
    @include paragraph();
    margin-top: 32px;
  }
}
.overlay {
  background-image: url("assets/desktop/image-footer.jpg");
  background-repeat: none;
  background-size: cover;
}
footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 197px;
  width: 100%;
  height: 308px;
  background-color: $footer-color-overlay;

  h3 {
    color: white;
    width: 350px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

    margin-left: 180px;
  }
  p {
    margin-left: 125px;
    width: 350px;
    height: 78px;
    @include paragraph(white);
  }
  button {
    @include button-1($button-color-violet);
    margin-left: 92px;
  }
}
